{% extends 'base.html' %}

{% block title %}Portfolio Siswa{% endblock %}
{% block page_title %}Jadwal Harian Santri{% endblock %}
{% block subtitle %}Jadwal keseharian{% endblock %}

{% block content %}
<body>
    <div class="container">
            <div class="box">
            <h2 class="section-title">Jadwal Keseharian Santri HSI BS</h2>
            <table border="1">
                <tr>
                    <th colspan="2">Waktu</th>
                    <th rowspan="2">Hari</th>
                    <th rowspan="2">Kegiatan</th>
                </tr>
                <tr>
                    <th>Mulai</th>
                    <th>Selesai</th>
                </tr>
                <tr>
                    <td>03.10</td>
                    <td>06.00</td>
                    <td>Senin</td>
                    <td>Bangun Tidur & Halaqoh B.arab</td>
                </tr>
                <tr>
                    <td>08.00</td>
                    <td>10.00</td>
                    <td>Selasa</td>
                    <td>Belajar B.Arab jam-pertama</td>
                </tr>
                <tr>
                    <td>13.00</td>
                    <td>15.20</td>
                    <td>Rabu</td>
                    <td>Belajar B.arab jam-kedua</td>
                </tr>
                <tr>
                    <td>16.00</td>
                    <td>17.15</td>
                    <td>Kamis</td>
                    <td>Mengikuti Kajian</td>
                </tr>
                <tr>
                    <td>18.45</td>
                    <td>19.30</td>
                    <td>Jumat</td>
                    <td>Halaqoh AL-quran</td>
                </tr>
                <tr>
                    <td>20.00</td>
                    <td>21.30</td>
                    <td>Sabtu</td>
                    <td>Belajar IT(Informasi Teknologi)</td>
                </tr>
                <tr>
                    <td>07.00</td>
                    <td>11.00</td>
                    <td>Ahad</td>
                    <td>Latihan Futsal</td>
                </tr>
            </table>
            </div>
          </div>
    </div>
</body>
</html>
{% endblock %}